PORT=3333
NODE_ENV=development
DATABASE_URL="postgresql://neondb_owner:npg_TCJvPgtAN04S@ep-cool-term-b5edlkp4-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="513199aeccd29081a4e09230704cfcd0f23bf73ed8934a0bf32cef3a6fa73870"
